beautifulsoup4==4.12.2
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
docopt==0.6.2
fake-useragent==1.2.1
fonttools==4.42.1
idna==3.4
importlib-resources==6.0.1
jieba==0.42.1
jsonpath==0.82.2
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.7.2
numpy==1.25.1
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pipreqs==0.4.13
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.5
trange==0.1.1
tzdata==2023.3
urllib3==2.0.4
useragent==0.1.1
wordcloud==1.9.2
yarg==0.1.9
zipp==3.16.2
